.mobile-nav {
  width: 300px;
  height: 100vh;
  position: fixed;
  background-color: $lightGray2;
  z-index: 11;
  transition: .4s all;
  transition-delay: 0s;

  @media (max-width: 786px) {
    width: 80%;
    left: -100%;
  }

  @media (min-width: 786px) {
    width: 300px;
    left: -350px;
  }

  @media (min-width: 992px) {
    width: 450px;
    left: -500px;
  }

  @media (min-width: 1200px) {
    width: 450px;
    left: -500px;
  }

  .mobile-nav-inner {
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 50%;
    left: 0;
    transform: $centerY;

    ul.list-unstyled {

      li {
        padding: 10px 15px 10px 60px;

        a {
          display: block;
          font-size: 2rem;
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }

  &.active {
    left: 0;
    transition-delay: .2s;
  }
}

.mobile-nav-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  position: absolute;
  cursor: pointer;

  &.active {
    display: block;
  }
}
