/* Button Colors --- This section will change depending on the site color scheme */
.btn-white {
  background-color: white;
  color: $darkGray;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border: 2px white solid;

  &:hover, &:active, &:focus {
    background-color: transparent;
    color: white;

    &:after {
      left: 0;
    }
  }
}

.btn-outline-white {
  background-color: transparent;
  color: white;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border: 2px white solid;

  &:hover, &:active, &:focus {
    background-color: white;
    color: $darkGray;

    &:after {
      left: 0;
    }
  }
}

/* Button Sizes --- Adjust if Needed */
.btn {
  display: inline-flex;
  position: relative;
  border-radius: $borderRadius !important;
  transition: $transitionAll;
  font-size: 1rem;
  min-height: 34px;
  text-align: center;
  vertical-align: middle;

  .material-icons {
    vertical-align: middle;
    margin-top: -2px;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

a.btn, button.btn {
  text-decoration: none !important;
}

.btn-xs {
  padding: 4px 10px !important;
}

.btn-sm {
  padding: 5px 15px !important;
}

.btn-md {
  padding: 9px 20px !important;
}

.btn-lg {
  padding: 8px 25px !important;
  font-size: 1.5rem;
}
