.form-group {
  label {
    display: inline-flex;
  }
}

.form-control {
  display: inline-flex;
  min-height: 45px;
  appearance: none;
  background-color: white;
  border: none;
  border-radius: $borderRadius;
  padding: 10px 15px;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.select-wrap {
  position: relative;
  overflow: hidden;
  width: auto;

  &:after {
    position: absolute;
    right: 1rem;
    top: 50%;
    font-size: 1.6rem;
    transform: $centerY;
    font-family: 'Material Icons';
    content: '\e313';
    color: $darkGray;
  }
}