* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.ie8-hide {
  display: block;
}

.ie8 {
  display: none;
}

body {
  font-family: $fontDefault;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  font-size: 16px;
  background-color: white;
}

::selection {
  background: $black;
  color: $white;
  text-shadow: none;
}

::-moz-selection {
  background: $black;
  color: $white;
  text-shadow: none;
}